@using SaglikRandevuSistemi.Models
@model List<Doktorlar>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var tempMessage = TempData["tempMessage"];
}
@if (tempMessage != null)
{
    <div class="alert alert-primary">
        @tempMessage
    </div>
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Doktorlar Tablosu</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>DoktorID</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Yaşı</th>
                            <th>Tel no</th>
                            <th>Email</th>
                            <th>Kliniği</th>
                            <th>Hastanesi</th>
                            <th>Cinsiyeti</th>
                            <th>Kullanıcı Adı</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>DoktorID</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Yaşı</th>
                            <th>Tel no</th>
                            <th>Email</th>
                            <th>Kliniği</th>
                            <th>Hastanesi</th>
                            <th>Cinsiyeti</th>
                            <th>Kullanıcı Adı</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.DrID</td>
                                <td>@i.DrAdi</td>
                                <td>@i.DrSoyadi</td>
                                <td>@i.DrYas</td>
                                <td>@i.DrTel</td>
                                <td>@i.DrEmail</td>
                                @if (i.KlinikID == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@i.Klinikler.KlinikAdi</td>
                                }
                                @if (i.HastaneID == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@i.Hastaneler.HastaneAdi</td>
                                }
                                @if (i.CinsiyetID == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@i.Cinsiyetler.CinsiyetAdi</td>
                                }
                                @if (i.KullaniciID == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@i.Kullanicilar.KullaniciAdi</td>
                                }
                                <td>
                                    <a href="@Url.Action("VeriSilme","Admin", new { id = i.DrID,  Sayfa= "DoktorlarTables"})" class="btn btn-danger" onclick="return confirm('Bi veriyi silmek istediğinizden emin misiniz?')">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("VeriEkleme","Admin")" class="btn btn-primary">Doktor Ekle</a>
            </div>
        </div>
    </div>
</div>