@using SaglikRandevuSistemi.Models
@model List<Ilceler>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hastaneler Tablosu</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>İlçeID</th>
                            <th>İlçe Adı</th>
                            <th>Bağlı Olduğu Şehir</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>İlçeID</th>
                            <th>İlçe Adı</th>
                            <th>Bağlı Olduğu Şehir</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.IlceID</td>
                                <td>@i.IlceAdi</td>
                                @if(i.Sehirler.SehirAdi == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@i.Sehirler.SehirAdi</td>
                                }
                                <td>
                                    <a href="@Url.Action("HastalarTables","Admin")" class="btn btn-danger">Sil</a>
                                </td>
                                <td>
                                    <a href="Admin/Index" class="btn btn-success">Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("VeriEkleme","Admin")" class="btn btn-primary">Klinik Ekle</a>
            </div>
        </div>
    </div>
</div>