@using SaglikRandevuSistemi.Models

@model Hastalar
@{
    var SuccessMessage = TempData["Success"];
}

@section Arayuz
{
    <link href="~/css/Arayuz.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Profil.css" rel="stylesheet" type="text/css" />
}

@await Html.PartialAsync("~/Views/PartialViews/_HastaProfilHeader.cshtml")

<div class="container" style="min-height: 563.5px;">
                            @if(SuccessMessage != null){ <div style="background-color: cornflowerblue; text-align:center">@SuccessMessage</div> }
        @using (Html.BeginForm("ProfilGuncelle","Hasta", FormMethod.Post, new { id="profilForm" }))
        {
        <h2>Kimlik Bilgileri</h2>
        <input type="hidden" name="HastaID" value="@Model.HastaID" readonly>
        <div class="form-group">
            <label for="Ad">Ad:</label>
            <input type="text" id="ad" name="HastaAdi" value="@(Model.HastaAdi ?? "")" readonly>
        </div>
        <div class="form-group">
            <label for="soyad">Soyad:</label>
            <input type="text" id="soyad" name="HastaSoyadi" value="@(Model.HastaSoyadi ?? "")" readonly>
        </div>
        <div class="form-group">
            <label for="cinsiyet">Cinsiyet:</label>
            <select id="cinsiyet" name="CinsiyetID" disabled>
                <option value="" selected disabled>Belirtmek istemiyorum</option>
                @foreach (var cinsiyet in ViewBag.Cinsiyetler)
                {
                    <option value="@(cinsiyet.CinsiyetID ?? "")" selected="@(Model.CinsiyetID == cinsiyet.CinsiyetID ? "selected":null)">
                        @cinsiyet.CinsiyetAdi
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="yas">Yaş:</label>
            <input type="text" id="yas" name="HastaYas" value="@(Model.HastaYas ?? "")" readonly>
        </div>
        <div class="form-group">
            <label for="boy">Boy:</label>
            <input type="text" id="boy" name="HastaBoy" value="@(Model.HastaBoy ?? "")" readonly>cm
        </div>
        <div class="form-group">
            <label for="kilo">Kilo:</label>
            <input type="text" id="kilo" name="HastaKilo" value="@(Model.HastaKilo ?? "")" readonly>kg
        </div>
        <h2>iletisim bilgileri</h2>
        <div class="form-group">
            <label for="tel">Telefon Numarası:</label>
            <input type="text" id="telNo" name="HastaTel" value="@(Model.HastaTel ?? "")" readonly>
        </div>
        <div class="form-group">
            <label for="email">E-Posta Adresi:</label>
            <input type="text" id="eposta" name="HastaEmail" value="@(Model.HastaEmail ?? "")" readonly>
        </div>
        <div class="form-group">
            <label for="sehir">Şehir:</label>
            <select id="Sehir" name="SehirID" disabled>
                <option value="" disabled selected>Bir şehir seçiniz.</option>
                @foreach (var sehir in ViewBag.Sehirler)
                {
                    <option value="@(sehir.SehirID ?? "")" selected="@(Model.SehirID == sehir.SehirID ? "selected":null)">
                        @sehir.SehirAdi
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="ilce">İlçe:</label>
            <select id="Ilce" name="IlceID" disabled>
                <option value="" disabled selected>Bir ilçe seçiniz.</option>
                @foreach (var ilce in ViewBag.Ilceler)
                {
                    <option value="@(ilce.IlceID ?? "")" selected="@(Model.IlceID == ilce.IlceID ? "selected":null)">
                        @ilce.IlceAdi
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="adres">Açık Adres:</label>
            <input type="text" id="adres" name="HastaAdres" value="@(Model.HastaAdres ?? "")" readonly>
        </div>
        <button type="button" id="guncelle">Bilgilerimi Güncelle</button>
        }
</div>

<script src="~/js/hastaprofil.js"></script>